/*****************************************/
/***** ALL LAYOUT *****/
body.debug > main aside > nav {
    height: 100%;
}

/*****************************************/
/***** LAYOUT: ONLY MOBILE "XS SIZE" *****/
@media screen and (max-width: 480px) {

    /* All Section Style - Debug */
    body.debug {
        background-color: pink;
    }

    /* BANNER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */
}

/****************************************/
/***** LAYOUT: ONLY MOBILE "S SIZE" *****/
@media screen and (max-width: 768px) {
    
    /* All Section Style - Debug */
    body.debug {
        background-color: yellow;
    }
    
    /* BANNER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */
}

/*****************************************/
/***** LAYOUT: ONLY TABLET "MD SIZE" *****/
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* All Section Style - Debug */
    body.debug {
        background-color: orange;
    }

    /* BANNER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */
}

/***************************************************/
/***** LAYOUT: TABLET & DESKTOP "MD & LG SIZE" *****/
@media screen and (min-width: 768px) {

    /* BANNER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */

}

/******************************************/
/***** LAYOUT: ONLY DESKTOP "LG SIZE" *****/
@media screen and (min-width: 992px) {

    /* All Section Style - Debug */
    body.debug {
        background-color: red;
    }
    
    /* BANNER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */

}

/******************************************************/
/***** LAYOUT: ONLY EXTRA LARGE DESKTOP "XL SIZE" *****/
@media screen and (min-width: 1200px) {

    /* All Section Style - Debug */
    body.debug {
        background-color: brown;
    }

    /* BANNER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */

}