/**************************
        MOBILE FIRST 
**************************/

/*****************************************/
/***** LAYOUT: ONLY MOBILE "XS SIZE" *****/
@media screen and (max-width: 480px) {

    /* GENERAL STYLE */

    /* HEADER STYLE */

    /* MAIN STYLE */
    aside {
        width: 3.125rem;
    }

    #mainContentSec {
        width: calc(100vw - 3.125rem);
    }

    /* Side Menu Bar Style */
    aside > section {
        padding: 0.5rem;
    }

    aside > section > div:first-child {
        height: 80%;
    }

    aside > section > div:last-child {
        height: 20%;
    }

    aside > section img:nth-child(1) {
        display: none;
    }

    aside > section img:nth-child(2) {
        display: inline-block;
    }

    aside > section > div > * {
        margin-left: -0.5rem;
        padding-left: 0.5rem;
    }

    .dispNoneXs ,
    aside > section h5 ~ * {
        display: none;
    }

    aside > section > div:last-child > p:first-child {
        margin-bottom: 2rem;
    }

    aside i.fa-user.menuIcon {
        background-color: var(--lightgreyTXT);
        padding: 0.35rem 0.35rem;
        font-size: 14px;
    }

    /* Aside Section Style */
    /* FOOTER STYLE */
}

/****************************************/
/***** LAYOUT: ONLY MOBILE "S SIZE" *****/
@media screen and (max-width: 768px) {

    /* HEADER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */
}

/*****************************************/
/***** LAYOUT: ONLY TABLET "MD SIZE" *****/
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* HEADER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */
} 

/***************************************************/
/***** LAYOUT: TABLET & DESKTOP "MD & LG SIZE" *****/
@media screen and (min-width: 768px) {
    
    /* HEADER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */
    
}

/******************************************/
/***** LAYOUT: ONLY DESKTOP "LG SIZE" *****/
@media screen and (min-width: 992px) {

    /* HEADER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */

}

/******************************************************/
/***** LAYOUT: ONLY EXTRA LARGE DESKTOP "XL SIZE" *****/
@media screen and (min-width: 1200px) {

    /* HEADER STYLE */
    /* MAIN STYLE */
    /* Aside Section Style */
    /* FOOTER STYLE */

} 