/******** GENERAL STYLE ********/
:root {
/* primary color */
    --green: #AEFF30;
/* secondary colors: background */
    --blueBG: #141922;
    --darkblueBG: #070b12;
    --greyBG: #282828;
/* secondary colors: text */
    --lightgreyTXT: #7E7F84;
}

body {
    font-family: 'Montserrat', sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--lightgreyTXT);
}

/******** BANNER STYLE ********/
#banner {
    height: 5.625rem;
    top: 0;
    left: 0;
    z-index: 1;
    /* opacity: 0.8; */
}

#banner button {
    border: 1px solid white;
    z-index: 2;
    padding: 0.5rem 1.5rem;
    font-size: .7rem;
    font-weight: 900;
}

#banner button:hover {
    padding: 0.6rem 2rem;
}

/******** MAIN STYLE ********/

/* General Layout Style */
main > section {
    height: calc(100vh - 11.25rem);
    margin-top: 5.625rem;
}

aside {
    width: 14.375rem;
    margin-top: -5.625rem;
    z-index: 2;
}

#mainContentSec {
    width: calc(100vw - 14.375rem);
}

/* Side Menu Bar Style */
aside > nav {
    padding: 1rem;
    overflow-y: scroll;
    height: 100%;
}

aside > nav > div:first-child {
    height: 92%;
}

aside > nav > div:last-child {
    height: 8%;
}

aside > nav > div > img {
    margin-bottom: 1.875rem;
}

aside > nav > div > img:nth-child(2) {
    display: none;
}

aside > nav > div > * {
    margin-left: -1rem;
    padding-left: 1rem;
}

aside > nav > div p {
    margin-bottom: 1rem;
    font-size: .75rem;
    font-weight: 600;
}

aside > nav > div > p:nth-child(5) {
    margin-bottom: 1.875rem;
}

.menuIcon {
    font-size: 1.5rem;
    margin-right: 0.3em;
    width: 1.6875rem;
}

#libraryIcon {
    left: -0.25rem;
}

aside > nav > div > h5 {
    margin-bottom: 1rem;
}

aside i.menuIcon.scale1-5 {
    padding-left: 0.3rem;
    margin-right: 0.5em;
}

aside i.menuIcon.scale1-5 + span {
    font-size: .875rem;
}

aside > nav > div:first-child > p:nth-child(3) {
    border-left: 2px solid var(--green);
}

aside > nav > div:first-child > p:hover:not(h5 + p) {
    border-left: 2px solid var(--green);
}

aside > nav > div p:hover a ,
nav > ul > li > a:hover {
    color: white;
}

aside i.fa-circle-arrow-down {
    margin-right: 1em;
}

aside > nav > div > hr {
    border: 0.5px solid var(--lightgreyTXT);
    margin-top: -0.5rem;
    margin-left: 0;
}

aside i.fa-user.menuIcon {
    background-color: var(--lightgreyTXT);
    padding: 2% 3%;
    font-size: 16px;
}

aside > nav > div:last-child > p:last-child {
    margin-top: 0.5rem;
}

/* Main Content Section Style */
#mainContentSec {
    overflow-y: scroll;
}

#mainContentSec nav ul {
    font-size: .7rem;
    font-weight: 600;
}

#mainContentSec nav {
    margin-bottom: 1rem;
}

#mainContentSec nav hr {
    border: 1px solid var(--green);
    margin: 4% 30%;
}

.rowCont > div {
    width: calc(100% / 2 - 1rem);
}

figcaption {
    padding: 0.5rem 0;
}

figcaption > h6 {
    font-size: clamp(0.56rem, calc(0.47rem + 0.47vw), 0.91rem);
    padding-bottom: 0.5rem;
}

.rowSec p {
    font-size: clamp(0.56rem, calc(0.51rem + 0.25vw), 0.75rem);;
    font-weight: 700;
}

figure > i.posAbsolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.88rem, calc(1.57rem + 1.53vw), 3rem);
    visibility: hidden;
    /* animation: 1.5s ease 0s infinite beat; */
}

figure:hover img {
    filter: brightness(50%);
    transition: 1s;
}

figure:hover > i.posAbsolute {
    visibility: visible;
}

/* @keyframes beat {
  0%, 50%, 100% { transform: scale(1, 1); }
  30%, 80% { transform: scale(0.92, 0.95); }
} */



/******** FOOTER STYLE ********/
footer {
    height: 5.625rem;
}